/**
 * Copyright 2011 Google, Inc. All Rights Reserved
 *
 * @author jasonstredwick@google.com (Jason Stredwick)
 */

.explore-window {
  border: 2px solid #fff;
  padding: 2px;
}

.explore-section {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.explore-section:last-child {
  margin-bottom: 0px;
}

.drill-icon {
  float: left;
  margin: 0px;
  padding: 10px 5px;
  width: 20px;
  height: 20px;
}

.drill-title {
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
  margin: 0px;
  margin-top: auto;
}

