/**
 * Copyright 2010 Google Inc.  All Rights Reserved.
 *
 * Style definitions for the extension popup of BITE
 *
 * Author: joemu@google.com (Joe Muharsky),
 *         michaelwill@google.com (Michael Williamson)
 */

body {
  font-family: verdana, tahoma, sans-serif;
}

table {
  width: 100%;
  border-spacing: 0px;
  border-width: 0px;
}

table.header {
  border-bottom: 1px solid #F0F3F6;
}

table.header td {
  vertical-align: top;
}

table.header td.logo {
  width: 40px;
}

table.header td.logo img {
  height: 26px;
}

table.header td.version {
  padding-top: 11px;
}

table.header td.userbar {
  text-align: right;
}

div.login {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

div.popup {
  width: 300px;
  padding: 4px 4px 4px 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #999999;
}

div.popup-error {
  width: 300px;
  color: red;
}

tr.menuitem-row {
  margin-bottom: 4px;
  cursor: pointer;
}

tr.menuitem-row:hover {
  background-color: #F6F9FC;
  cursor: pointer;
}

td.menuitem-iconcell {
  vertical-align: middle;
  padding: 4px 4px 4px 4px;
  width: 32px;
  cursor: pointer;
}

img.menuitem-icon {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

td.menuitem-titlecell {
  vertical-align: top;
  padding: 4px 4px 4px 4px;
  cursor: pointer;
}

div.menuitem-title {
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

div.menuitem-notes {
  font-size: .75em;
  color: #999999;
  font-style: italic;
  cursor: pointer;
}

span.version {
  font-size: .7em;
}

div.setting {
  font-size: .65em;
  color: navy;
}

div.setting:hover {
  text-decoration:underline;
  cursor: pointer;
}
