{namespace bite.server.templates.details.RunPage}


/**
 * Shows the header.
 */
{template .showHeader}
    <div style="display: inline" id="savedTime"></div>
    <div style="display: none" id="saveRunButton"></div>
    <div style="display: inline" id="loadRunButton"></div>
  </td>
{/template}


/**
 * Shows the body area.
 */
{template .showBodyArea}
  <div id="setTabDetailDiv">
  </div>
{/template}

