/*@import url(http://www.google.com/css/gcs.css);*/
/* Copyright 2010 Google, Inc. All Rights Reserved */

body{font-size:90%;font-family:Arial,sans-serif;color:#000;background:#fff}
ul{padding:0 0 1em 1em}
ol{padding:0 0 1em 1.3em}
li{line-height:1.5em;padding:0 0 .5em 0}
.g-doc-800{width:90%;min-width:750px;margin:0 auto;text-align:left}
.g-section:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.g-unit{display:block;margin:0 0 0 160px;float:none}

.g-tpl-160 .g-first,.g-unit .g-tpl-160 .g-first,.g-unit .g-unit .g-tpl-160 .g-first{display:block;margin:0;width:160px;float:left}

body { margin: 1em; }
.header h1 { color: #333; margin: 0; padding: 15px 0 2px; }
.header .home { float: right; padding: 17px 0 0; }
.footer2{margin:3em 0 0;text-align:center;color:#666;padding:.5em;}
.main { padding: .5em 0 0; }
.main h2 {  color: #000; margin: 0 0 1em 0; padding: 0 0 4px 0; }
.main h3 {  color: #000; margin: 0; padding: 0; font-weight: 600; }
.nav ul, .nav li { list-style: none; margin: 0; padding: 0; }
.nav li a, .nav li a:visited {  color: #00C; display: block; margin: 0 10px 0 0; padding: .4em .3em; }
.nav li a.selected, .nav li a.selected:hover { background-image:url(../img/nav-gr.png);}
.nav .sel { text-decoration:none; color:#000; font-weight:bold; background-image:url(nav-gr.png);display: block; margin: 0 10px 0 0; padding: .4em .3em;}
/*.nav li a:hover { background-image:url(../img/nav-bl2.png);}*/
.langselect {float:right;}

.tour { clear: right; float: right; margin-top: -4px; text-align: right; }
.tour img { vertical-align: middle; }
.tour .nav-prev, .tour .nav-next { margin: 0 0 0 5px; }
li { margin-left: 10px; padding: 0; }

div.c1 {float:left; width: 225px; margin-top: 5px;}
div.c2 { margin: 20px 100px; }
div.section { height: 95px; padding: 10px 0;}

.iconholder  {float: left; margin: 0 20px 0 0; width: 128px; }
.smiconholder {float: left; padding: 0 10px 0 10px; width: 98px; }
.smimgholder {float: right; margin: 10px 30px 0 0; width: 180px; }
.mdimgholder {float: right; padding: 0 0 0 10px; width: 280px; }
.lgimgholder {float: right; padding: 10px 0 0 10px;  width: 330px; }


th,td{
  padding: 10px
}

pre{
  white-space: pre-wrap;
}
