/**
 * Copyright 2011 Google, Inc. All Rights Reserved
 *
 * @author jasonstredwick@google.com (Jason Stredwick)
 */

html, body {
  margin: 0px;
  padding: 0px;
}

.test-explore {
  width: 100%;
}

.test-explore-nav {
  float: left;
  width: 20%;
}

.test-explore-nav div {
  background: #eef;
  height: 30px;
}

.test-explore-nav button {
  margin: auto;
}

.test-explore-data {
  background: #ccf;
  width: 80%;
}

.test-explore-data-header {
  height: 30px;
}

