<!DOCTYPE HTML>
<html>
<!--
Copyright 2011 Google Inc. All Rights Reserved.

Use of this source code is governed by the Apache License, Version 2.0.
See the COPYING file for details.
-->
  <head>
    <title>Browser Integrated Testing Environment (BITE)</title>
    <link type="text/css" rel="stylesheet" href="/static/landing.css">
    <script src="/scripts/analytics.js" type="application/javascript"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="contentBody">
        <div id="login">
          {% if user.isSigned %}
          <b>{{user.email}} |
            <a href="{{user.signOut}}">Log out</a>
          </b>
          {% else %}
          <b>
            <a href="{{user.signIn}}">Log in</a>
          </b>
          {% endif %}
        </div>
        <div>
          <div id="logocell" class="headercell">
          </div>

          <!-- Notes Content -->
          <div id="notescell" class="headercell">
            <b>Browser Integrated Test Environment (BITE)</b>
            <p>BITE is a suite of tools that lets you <b>test the web from the
                web</b>, offering tools that inform and <b>accelerate manual
                and exploratory testing</b>.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
