<!DOCTYPE html>
<html>
<!--
Copyright 2011 Google Inc. All Rights Reserved.

Use of this source code is governed by the Apache License, Version 2.0.
See the COPYING file for details.
-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Heads-up Display</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/analytics.js" type="text/javascript">
    </script>
  </head>
  <body>
    <table style="margin-top: 1em;" width="100%">
      <tbody>
        <tr>
          <td width="1%">
            <a href="/">
              <img src="/images/bite_logo_google.png" alt="Go to home page.">
            </a></td>
          <td>
            <table width="100%">
              <tbody>
                <tr>
                  <td class="page-title">Heads-Up Display</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center">
      <tbody>
        <tr>
          <td align="left">
            <div class="outer-box">
              <div class="welcome-area" style="">
                <div class="welcome-msg">{{title}}</div>
              </div>
              <div class="block">
                <div style="margin-left: 40px;">{{content}}</div>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <center>&copy; 2010</center>
  </body>
</html>
