<!DOCTYPE HTML>
<html>
<!--
Copyright 2011 Google Inc. All Rights Reserved.

Use of this source code is governed by the Apache License, Version 2.0.
See the COPYING file for details.
-->
  <head>
    <title>Add a Bug Template</title>
    <link type="text/css" rel="stylesheet" href="/hud/styles/main.css">
  </head>
  <body>
    <form name="templateInfo" action="/new_template" method="post"
          style="width: 600px">
      {% if alert %}
      <div class="bite-alert" style="left: 200px;"><p>{{alert}}</p></div>
      {% endif %}
      <fieldset>
        <legend>Add a Bug Template</legend>
        <ul>
          <li>
            <label for="id">Id</label>
            <input id="id" name="id" type="text" required>
          </li>
          <li>
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required>
          </li>
          <li>
            <label for="urls">Urls, comma separated</label>
            <input id="urls" name="urls" type="text" required>
          </li>
          <li>
            <label for="project">Project</label>
            <input id="project" name="project" type="text" required>
          </li>
          <li>
            <label for="backend_project">Backend Project</label>
            <input id="backend_project" name="backend_project"
                   type="text" required>
          </li>
          <li>
            <label for="backend_provider">Backend Provider</label>
            <select id="backend_provider" name="backend_provider">
              <option value="issuetracker">issuetracker</option>
            </select>
          </li>
          <li>
            <label for="selector_text">Selector Text</label>
            <input id="selector_text" name="selector_text" type="text" required>
          </li>
          <li>
            <label for="display_order">Display Order (integer only: lower
              numbers displayed first)</label>
            <input id="display_order" name="display_order" type="text">
          </li>
          <li>
            <label for="note_text">Notes</label>
            <textarea id="note_text" name="note_text"
                      rows=14 required></textarea>
          </li>
          <li>
            <input type="submit" value="Add Template">
          </li>
        </ul>
      </fieldset>
    </form>
  </body>
</html>
