{% extends 'base.html' %}

{% block view %}
<table width="100%" height="100%" cellspacing="0" cellpadding="0">
  <tr class="mainnav">
    <td style="width: 180px; background-color: rgb(222, 228, 251);
               text-align: center; height: 24px;">
      <button id="createButton" style="width: 45%;">Create</button>
      <button style="width: 45%;">Upload...</button>
    </td>
    <td style="width: 10px;" rowspan="2">
    <td>
      {% for scopeitem in common.selectednav.scopes %}
      <div class="mainnav-item
                  {% if scopeitem.selected %} mainnav-item-selected
                  {% endif %}"
           {% if not scopeitem.selected %}
           onclick="window.location='{{ scopeitem.href }}'"
           {% endif %}>{{ scopeitem.title }}</div>
      {% endfor %}
    </td>
    <td style="width: 2px" rowspan="2"></td>
    <td></td>
  </tr>
  <tr>
    <td id="leftnav-bar" style="vertical-align: top; padding-top: 4px;">
      {% for filteritem in common.selectedscope.filters %}
      <div class="leftnav-item
                  {% if filteritem.selected %} leftnav-item-selected
                  {% endif %}"
           {% if not scopeitem.selected %}
           onclick="window.location='{{ filteritem.href }}'"
           {% endif %}>{{ filteritem.title }}</div>
      {% endfor %}
    </td>
    <td style="vertical-align: top; padding: 4px 4px 4px 4px; min-width: 300px;">
      {% block content %}
        CONTENT GOES HERE
      {% endblock %}
    </td>
    <td>
      {% block details %}
        DETAILS GO HERE
      {% endblock %}
    </td>
  </tr>
</table>
{% endblock %}
